.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  font-size: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(28, 28, 28);
  margin-bottom: 8px;
  text-align: center;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 60px;
}

.confirm-btn,
.cancel-btn {
  padding: 12px 14px;
  height: 44px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
}

.confirm-btn {
  background-color: rgb(28, 28, 28);
  color: white;
  transition: 0.2s ease-in-out;
}

.confirm-btn:hover {
  background-color: rgb(53, 53, 53);
}

.cancel-btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(28, 28, 28);
  color: rgb(28, 28, 28);
  transition: 0.2s ease-in-out;
}
