.filter-container {
  max-width: 500px;
  margin: 32px auto;
}

.filter-title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(28, 28, 28);
  margin-bottom: 16px;
}

.filter-btns-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 8px 32px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  border: 1px solid rgb(28, 28, 28);
  background-color: rgb(255, 255, 255);
  color: rgb(28, 28, 28);
  transition: 0.2s ease-in-out;
}

.filter-btn-active {
  background-color: rgb(28, 28, 28);
  color: white;
  border: 0;
}

.filter-btn-active:hover {
  background-color: rgb(53, 53, 53);
}

.filter-container input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  padding: 12px 14px;
  font-size: 16px;
  color: rgb(30, 30, 30);
  margin-top: 8px;
}
