.carousel-wrapper {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 20px;
}

.modal-window {
  position: fixed;
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
}
